<div class="my-4 p-5 bg-primary text-white rounded w-50 mx-auto" *ngIf="!loading">
  <img [src]="product.image" alt="" width="100%" class="mb-5">
  <h1>Title</h1>
  <p>{{product.title}}</p>
  <h1>Category</h1>
  <p>{{product.category}}</p>
  <h1>Description</h1>
  <p>{{product.description}}</p>
  <h1>Rate</h1>
  <p>{{product.rating.rate}}</p>
  <h1>Count</h1>
  <p>{{product.rating.count}}</p>
  <h1>Price</h1>
  <p>{{product.price}}</p>
</div>
<div class="text-center" *ngIf="loading">
  <spinner></spinner>
</div>
